.card-title {
    color: #333;
    font-size: 1.0em;
    font-weight: 400;
}
.card-content {
    height: 175px;
    padding: 5px;
}

@media(min-width: 700px) and (min-height: 600px){
    .card-title {
        font-size: 1.5em;
    }
}