<div *ngIf="user" class="card">
  <div class="card-image">
    <img src="{{ user.thumbnail }}">
    <span class="card-title"><strong>{{ user.username }}</strong></span>
  </div>
  <form>
    <div class="input-field">
      <input #userinput id="username" (keyup.enter)="sendUserChangeRequest(userinput.value)" placeholder="Enter username..." type="search" required>
      <label for="username"><i class="material-icons">search</i></label>
    </div>
  </form>
  <div class="card-content">
    <p>{{ user.bio }}</p>
  </div>
  <div class="card-action">
    <a href="{{ user.profileUrl }}" style="color: #f82">Go to profile</a>
  </div>
</div>
